@page "/datamanagement"

@using Phalanx.App.Pages.Management

<TitlePart>Data Management</TitlePart>

<div>
    <h1>Data Management</h1>

    <FluentSelect @bind-Value="@selectValue">
        @foreach (var dataSourceOption in dataSourceOptions)
        {
           <FluentOption 
                Key="@dataSourceOption.Key" 
                Value="@dataSourceOption.Value">
                    @dataSourceOption.Value
            </FluentOption> 
        }
    </FluentSelect>
    <FluentButton>
        <FluentIcon Name="@FluentIcons.Add" Filled="true" Size="@IconSize.Size16"/>
        Add Data Source
    </FluentButton>

    <div class="data-gallery">
        <GalleryItem/>
    </div>
</div>

@code {
    string? selectValue;
    List<Option<string>> dataSourceOptions = new()
        {
            { new Option<string> { Key="1", Value="Test"} },
            { new Option<string> { Key="2", Value="Test2" } }
        };
}