@page "/rostercreate"
@using WarHub.ArmouryModel.Source

<h1>Create Roster</h1>

<FluentCard class="pcard">
    <EditForm Model="Model">
        <fieldset>
            <legend>New roster</legend>

            <label>
                Name
                <FluentTextField Placeholder="Roster name" @bind-Value="@Model.Name" />
            </label>
            <label>
                Game system
                <FluentSelect Items="@Gamesystems" @bind-SelectedOption="@Model.Gamesystem" OptionText="@(x => x?.Name)" />
            </label>
            <FluentButton Appearance="@Appearance.Accent">Create</FluentButton>
        </fieldset>
    </EditForm>
</FluentCard>

    @code {

    public class NewRosterModel
    {
        public string? Name { get; set; } = "New Roster";

        public GamesystemNode? Gamesystem { get; set; }
    }

    // TODO load the list
    private List<GamesystemNode> Gamesystems { get; } = new();

    public NewRosterModel Model { get; } = new();
}
