<div class="gallery-item">
  <div class="game-system-info-container">
    <h2 class="game-system-title">A Song of Ice & Fire: Tabletop Miniture Game</h2>
    <span class="remote-version">v2.1</span>
    <span class="remote-version-release-date">3 years ago</span>
  </div>

  <div class="gallery-item-button-container">
    <FluentButton>
        <FluentIcon Name="@FluentIcons.Save" Filled="true" Size="@IconSize.Size16"/>
        Save
      </FluentButton>
    <FluentButton>
      <FluentIcon Name="@FluentIcons.ArrowDownload" Size="IconSize.Size16" Filled=true />
      Update
    </FluentButton>
    <FluentButton>
      <FluentIcon Name="@FluentIcons.Delete" Filled="true" Size="@IconSize.Size16"/>
      Remove
    </FluentButton>
    <span class="local-version">Local Version: 2.0</span>
  </div>
</div>