@using WarHub.ArmouryModel.DataProviders


<FluentCard class="my-3">
  <div class="gallery-item">
    <div class="game-system-info-container">
      <h2 class="game-system-title">@Repository.Description</h2>
      <span class="remote-version">@Repository.Version</span>
      <span class="remote-version-release-date">@Repository.LastUpdated</span>
    </div>
    
    <div class="gallery-item-button-container">
      @* 
        TODO: Dynamically enable/disable repos based on status
          - Repos loaded into memory and are up to date have pull and update disabled
          - Repos loaded into memory, but are not up to date have pull disabled
          - Repos not loaded into memory have remove and update disabled

          span.local-version only shows if the repo is loaded into memory 
      *@
      <FluentButton class="mx-1 mb-1">
          <FluentIcon Name="@FluentIcons.Save" Slot="start" Filled="true" Size="@IconSize.Size16"/>
          Pull
        </FluentButton>
      <FluentButton class="mx-1 mb-1" Disabled="true">
        <FluentIcon Name="@FluentIcons.ArrowUp" Slot="start" Size="IconSize.Size16" Filled=true />
        Update
      </FluentButton>
      <FluentButton class="mx-1 mb-1" Disabled="true">
        <FluentIcon Name="@FluentIcons.Delete" Slot="start" Filled="true" Size="@IconSize.Size16"/>
        Remove
      </FluentButton>
    </div>
      @* TODO: Show local version when repo is loaded into memory *@
      <span class="local-version">Local Version: 2.0</span>
  </div>
</FluentCard>

@code {
  [Parameter] 
  public CatpkgRepositoryInfo? Repository { get; set; }
}
