<FluentCard class="my-3">
  <div class="gallery-item">
    <div class="game-system-info-container">
      <h2 class="game-system-title">Description</h2>
      <span class="remote-version">v2.1</span>
      <span class="remote-version-release-date">3 years ago</span>
    </div>
    
    <div class="gallery-item-button-container">
      <FluentButton class="mx-1 mb-1">
          <FluentIcon Name="@FluentIcons.Save" Slot="start" Filled="true" Size="@IconSize.Size16"/>
          Pull
        </FluentButton>
      <FluentButton class="mx-1 mb-1">
        <FluentIcon Name="@FluentIcons.ArrowUp" Slot="start" Size="IconSize.Size16" Filled=true />
        Update
      </FluentButton>
      <FluentButton class="mx-1 mb-1">
        <FluentIcon Name="@FluentIcons.Delete" Slot="start" Filled="true" Size="@IconSize.Size16"/>
        Remove
      </FluentButton>
    </div>
      <span class="local-version">Local Version: 2.0</span>
  </div>
</FluentCard>
